@import 'antd/dist/reset.css';

@tailwind utilities;

svg {
  vertical-align: initial;
}

tbody.ant-table-tbody > tr:nth-child(odd) {
  background-color: initial;
}

label.ant-segmented-item {
  margin-bottom: inherit;
}

#AccreditationAdminModule {
  padding: 16px;
}
